@model FullAdvertDtoModel

<div class="shadow p-3 mb-5 bg-white border; container" style="width: 100%; border-radius: 15px">
    <div class="row" style="margin:15px">
        @foreach (var item in Model.AdvertDtos)
        {
            <div class="card text-white bg-light mb-3" style="max-width: 15rem; margin:10px; border-radius:15px; border-color:darkgray; border-width:1px">
                <img src="@item.ImageModelDto.Path" style="max-width: 13.5rem; max-height: 10rem; margin-left: 11px; margin-top: 10px; border-radius: 15px ">
                <div class="card-body">
                    <strong class="card-title; text-dark">$ @((double)item.Price)</strong>
                    <p class="card-text" style="color:dimgray">@((int)item.PriceSom) сом</p>
                    <h5 class="card-title" style="color:dodgerblue">@item.BrandName @item.ModelName @item.ManufacturerYear</h5>
                    <hr />
                    <p class="card-text" style="color:black">@item.ManufacturerYear г, @item.EngineVolume л, @item.GearBox, @item.BodyType, @item.FuelType, руль @item.Steer, @item.Mileage км</p>
                    <a href="#" class="btn btn-info">Посмотреть</a>
                </div>
            </div>
        }
    </div>
</div>